{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{# {% block body %}
<div class="d-flex justify-content-center div-card">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-title">S'identifier</h2>
                <p class="card-text">
                <form method="post">
        
                    <label for="inputUsername">Username</label>
                    <input type="name" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    {# <button class="btn btn-lg btn-primary" type="submit">
                        Sign in
                    </button>
                </form>
<a href="{{ path('app_register') }}"> Register</a>
{% endblock %} #}
{% block body %}
    <div class="d-flex justify-content-center div-card">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-title">S'identifier</h2>
                <form method="post">
                <p class="card-text">
                    <input class="form-control" type="name" id="inputUsername" name="username"
                        required autofocus placeholder="Username">
                    <input class="form-control" type="password" id="inputPassword" name="password" required
                        placeholder="Mot de passe">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                    <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                    >
                    <button type="submit" class="btn btn-danger">S'identifier</button>
                </form>
                <div class="d-flex flex-row justify-content-between check">
                    <div>
                        <input type="checkbox" id=remember name="remember">
                        <label for="remember">Se souvenir de moi</label>
                    </div>
                    <a href="https://www.netflix.com/fr/LoginHelp" class="help">Besoin d'aide ?</a>
                </div>
                <a class="d-flex flex-row facebook"
                    href="https://www.facebook.com/v2.9/dialog/oauth?app_id=163114453728333&cbt=1624022946507&channel_url=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3fe69a749746d8%26domain%3Dwww.netflix.com%26origin%3Dhttps%253A%252F%252Fwww.netflix.com%252Ff13d7a7906c9db8%26relation%3Dopener&client_id=163114453728333&display=popup&domain=www.netflix.com&e2e=%7B%7D&fallback_redirect_uri=https%3A%2F%2Fwww.netflix.com%2Ffr%2Flogin&fx_app=facebook&locale=fr_FR&logger_id=f2d6bc65696bbac&origin=1&redirect_uri=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df4ebc8f97f4e4c%26domain%3Dwww.netflix.com%26origin%3Dhttps%253A%252F%252Fwww.netflix.com%252Ff13d7a7906c9db8%26relation%3Dopener%26frame%3Df131f2d3d205d5c&response_type=token%2Csigned_request%2Cgraph_domain&sdk=joey&version=v2.9">
                    <img class="fb" src="assets/facebook-770688_640.png" alt="Logo_Facebook" />
                    <p>S'identifier avec Facebook</p>
                </a>
                <p class="question">Première visite sur Netflix ? <a href="{{ path('app_register') }}" class="card-link">Inscrivez vous</a></p>
                <p class="captcha">Cette page est protégée par Google reCAPTCHA pour nous assurer que vous n'êtes pas un
                    robot. <a href="https://support.google.com/a/answer/1217728?hl=fr#:~:text=Le%20CAPTCHA%20(acronyme%20de%20l,authentification%20par%20question%2Dr%C3%A9ponse%22." class="card-link">En savoir plus.</a></p>
                </p>
            </div>
        </div>
    </div>
{% endblock %}