{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="d-flex justify-content-center div-card">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-title">Bonjour {{user.username }}</h2>
                <p class="card-text">
                    <div class="token-value"> Merci pour ton token : {{token}}<div>
                    <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
