{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{# {% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }} #}
{# {% endblock %} #}
{% block body %}
<div class="div-register">
    <div class="title-register">
        <h1>Films, séries TV et bien plus en illimité.</h1>
        <h2>Où que vous soyez. Annulez à tout moment.</h2>
        <h3>Prêt à regarder Netflix ? Saisissez votre adresse e-mail pour vous abonner ou réactiver votre
            abonnement.</h3>
    </div>
    {{ form_start(registrationForm) }}
    <div class="d-flex flex-column input-register">
        {{ form_widget(registrationForm.username, { 'attr': {'class': 'reg-text', 'placeholder': 'Username'} }) }}
        {# <input type="text" id="email" name="email" required placeholder="Adresse Email"> #}
        {{ form_widget(registrationForm.plainPassword, { 'attr': {'class': 'reg-text', 'placeholder': 'Password'} }) }}
        {# <input type="password" id="password" name="password" required placeholder="Mot de passe" style="margin-top: 14px;"> #}
        {{ form_row(registrationForm.agreeTerms) }}
        <button type="submit" class="btn btn-danger button-registe" style="margin-top: 14px;">Créer son compte</button>
    </div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}