body {
    background-image: url("assets/FR-fr-20210607-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    filter: drop-shadow(2px 4px 6px black);
}
.logo {
    height: 100px;
    width: auto;
    margin-left: 60px;
}

.card {
    background-color: #00000099;
    width: 450px !important;
    border-radius: 4px;
    padding: 65px;
}
.card-body{
    padding: 0;
}
.card-title {
    color: white;
    font-weight: 700;
}
.form-control {
    width: 320px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: #303030;
    margin-top: 24px;
}
.check{
    color: #C0C0C0;
    font-size: 14px;   
}
.check > a:hover {
    color: #C0C0C0;
    text-decoration: underline;
}
.btn {
    background-color:#db1402;
    margin-top: 48px;
    width: 320px;
    height: 50px;
    font-weight: 700;
}
.help {
    color: #C0C0C0;
    font-size: 14px;
}

.facebook {
    color: 	#808080;
    font-size: 14px;
}
.facebook > img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.question {
    color: 	#808080;
    font-size: 15px;
}
.question > a {
    color: white;
}
.question > a:hover {
    text-decoration: underline;
}
.captcha {
    color: 	#808080;
    font-size: 14px;
}

.token-value {
    color: white;
    font-weight: 300;
}

/* register */
.div-register{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.title-register {
   text-align: center;
   color: white;
}
.title-register > h1 {
   font-size: 64px;
   font-weight: 700;
   margin-bottom: 24px;
   margin-top: 80px;
}
.title-register > h2 {
   font-size: 28px; 
   margin-bottom: 24px;  
}
.title-register > h3 {
   font-size: 18px; 
   margin-bottom: 24px;  
}
.input-register {
   width: 320px;
   height: 150px;
   border: none;
   color: black;
   margin-left: auto;
   margin-right: auto;
}

.reg-text {
    width: 320px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: white;
    margin-top: 24px;
}

